// Typically the config folder will include a keymap file
// named as <shield>.keymap. By making this simply an include
// it allows several keymaps (and configs) to be played with.

#include "keymaps/colemak_dh.keymap"

